In [1]:
x = True
x

True

In [2]:
type(x)

bool

In [3]:
y = 100 < 10
y

False

In [4]:
type(y)

bool

In [5]:
x + y

1

In [6]:
x * y

0

In [7]:
True + True

2

In [8]:
bools = [True, True, False, True]  # List of Boolean values

sum(bools)

3

In [9]:
x = complex(1, 2)
y = complex(2, 1)
print(x * y)

type(x)

5j

complex

In [10]:
numbers = [1, 2, 3, 4, 5]  # Creating a list of numbers

fruits = ['apple', 'banana', 'cherry'] # Creating a list of strings

In [11]:
print(numbers[0])  # Output: 1
print(fruits[1])   # Output: 'banana'

1
banana

In [12]:
x = ('a', 'b')  # Parentheses instead of the square brackets
x = 'a', 'b'    # Or no brackets --- the meaning is identical
x

('a', 'b')

In [13]:
type(x)

tuple

In [14]:
x = [1, 2]
x[0] = 10
x

[10, 2]

In [15]:
x = (1, 2)
x[0] = 10

TypeError: 'tuple' object does not support item assignment

In [16]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [17]:
y

20

In [18]:
a = ["a", "b", "c", "d", "e"]
a[1:]

['b', 'c', 'd', 'e']

In [19]:
a[1:3]

['b', 'c']

In [20]:
a[-2:]  # Last two elements of the list

['d', 'e']

In [21]:
a[::2]

['a', 'c', 'e']

In [22]:
a[-2::-1] # Walk backwards from the second last element to the first element

['d', 'c', 'b', 'a']

In [23]:
s = 'foobar'
s[-3:]  # Select the last three elements

'bar'

In [24]:
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

In [25]:
d['age']

33

In [26]:
s1 = {'a', 'b'}
type(s1)

set

In [27]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

In [28]:
s1.intersection(s2)

{'b'}

In [29]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

In [30]:
f = open('newfile.txt', 'w')   # Open 'newfile.txt' for writing
f.write('Testing\n')           # Here '\n' means new line
f.write('Testing again')
f.close()

In [31]:
f = open('newfile.txt', 'r')
out = f.read()
out

'Testing\nTesting again'

In [32]:
print(out)

Testing
Testing again

In [33]:
with open('newfile.txt', 'w') as f:  
    f.write('Testing\n')         
    f.write('Testing again')

In [34]:
with open('newfile.txt', 'r') as fo:
    out = fo.read()
    print(out)

Testing
Testing again

In [35]:
with open("newfile.txt", "r") as f:
    file = f.readlines()
    with open("output.txt", "w") as fo:
        for i, line in enumerate(file):
            fo.write(f'Line {i}: {line} \n')

In [36]:
with open('output.txt', 'r') as fo:
    print(fo.read())

Line 0: Testing

Line 1: Testing again

In [37]:
with open("newfile.txt", "r") as f, open("output2.txt", "w") as fo:
        for i, line in enumerate(f):
            fo.write(f'Line {i}: {line} \n')

In [38]:
with open('output2.txt', 'r') as fo:
    print(fo.read())

Line 0: Testing

Line 1: Testing again

In [39]:
with open('output2.txt', 'a') as fo:
    fo.write('\nThis is the end of the file')

In [40]:
with open('output2.txt', 'r') as fo:
    print(fo.read())

Line 0: Testing

Line 1: Testing again

This is the end of the file

In [41]:
%%writefile us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Overwriting us_cities.txt

In [42]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [43]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

In [44]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

In [45]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [46]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [47]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [48]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [49]:
range(8)

range(0, 8)

In [50]:
doubles = [2 * x for x in range(8)]
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

In [51]:
x, y = 1, 2
x < y

True

In [52]:
x > y

False

In [53]:
1 < 2 < 3

True

In [54]:
1 <= 2 <= 3

True

In [55]:
x = 1    # Assignment
x == 2   # Comparison

False

In [56]:
1 != 2

True

In [57]:
x = 'yes' if 42 else 'no'
x

'yes'

In [58]:
x = 'yes' if [] else 'no'
x

'no'

In [59]:
1 < 2 and 'f' in 'foo'

True

In [60]:
1 < 2 and 'g' in 'foo'

False

In [61]:
1 < 2 or 'g' in 'foo'

True

In [62]:
not True

False

In [63]:
not not True

True

In [64]:
all([1 <= 2 <= 3, 5 <= 6 <= 7])

True

In [65]:
all([1 <= 2 <= 3, "a" in "letter"])

False

In [66]:
any([1 <= 2 <= 3, "a" in "letter"])

True

In [67]:
def f(x):
    """
    This function squares its argument
    """
    return x**2

In [68]:
f?

In [69]:
f??